* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
  }
  
  .container {
    max-width: 1250px;
    margin: 0 auto;
    padding: 60px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navigation button {
    padding: 12px 25px;
    background-color: #292727;
    color: white;
    border: none;
    border-radius: 20px;
    margin-left: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .navigation button:hover {
    background-color: #555;
  }
  
  .car-details {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
  }
  
  .car-image img {
    width: 100%;
    max-width: 600px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .car-info {
    max-width: 500px;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .car-info h1 {
    font-size: 3rem;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 700;
  }
  
  .car-info p {
    font-size: 1.5rem;
    color: #777;
    text-align: center;
  }
  
  .footer {
    text-align: center;
    margin-top: 50px;
    font-size: 1rem;
    color: #777;
    font-weight: 300;
  }
  
  /* Buttons and Layout Styles */
  .nav-btn, .location-btn {
    padding: 12px 25px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 20px;
    margin-left: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .nav-btn:hover, .location-btn:hover {
    background-color: #45a049;
  }
  
  .location-btn {
    background-color: #007BFF;
  }
  
  .location-btn:hover {
    background-color: #0066cc;
  }
  